<%= form_with(model: classroom, local: true) do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :period_id %>
    <%= form.select :period_id, @periods.collect { |period| [period.number, period.id] } %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.select :teacher_id, @teachers.collect { |teacher| [teacher.name, teacher.id] }%>
  </div>

  <div class="field">
    <%= form.label :subject_id %>
    <%= form.select :subject_id, @subjects.collect { |subject| [subject.name, subject.id] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
