<p id="notice"><%= notice %></p>

<h1>Classrooms</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Period</th>
      <th>Teacher</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.number %></td>
        <td><%= classroom.period.number %></td>
        <td><%= classroom.teacher.name %></td>
        <td><%= classroom.subject.name %></td>

        <% if can? :read, classroom %>
          <td><%= link_to 'Show', classroom %></td>
        <% end %>
        <% if can? :update, classroom%>
          <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
        <% end %>
        <% if can? :destroy, classroom%>
          <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Classroom %>
  <%= link_to 'New Classroom', new_classroom_path %>
<% end %>