<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @classroom.number %>
</p>

<p>
  <strong>Period:</strong>
  <%= @classroom.period.number %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @classroom.teacher.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @classroom.subject.name %>
</p>

<p>
  <strong>Alunos da Turma:</strong>
  <ul>
    <% @classroom.students.each do |student| %> 
      <li><%= student.name %></li>
    <% end %>
  </ul>
</p>

<% if can? :create, StudentClassroom %>
  <%= link_to "Adicionar Aluno a Turma", new_student_classroom_path %>
<% end %>

<% if can? :update, @classroom %>
  <%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<% end %>

<%= link_to 'Back', classrooms_path %>
