<h1>Chamada</h1>


<%= form_with(model: @student_lesson, local: true) do |form| %>

    <%= form.label :lesson_id %>
    <%= form.text_field :lesson_id %>

    <br>

    <%= form.label :student_id %>
    <%= form.text_field :student_id %>


    <%= form.submit %>
<% end %>