<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.registration %></td>
        <td><%= student.course.name %></td>

        <% if can? :read, student %>
          <td><%= link_to 'Show', student %></td>
        <% end %>
        <% if can? :update, student %>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <% end %>
        <% if can? :destroy, student %>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Student %>
  <%= link_to 'New Student', new_student_path %>
<% end %>