<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @student.registration %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course.name %>
</p>

<p>
  <strong>Turmas: </strong>
  <ul>
    <% @student.classrooms.each do |classroom| %>
      <li><%= classroom.number %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Aulas: </strong>
    <ul>
    <% @student.lessons.each do |lesson| %>
      <li><%= lesson.time %></li>
    <% end %>
  </ul>
</p>

<% if can? :update, @student %>
  <%= link_to 'Edit', edit_student_path(@student) %> |
<% end %>

<%= link_to 'Back', students_path %>
