<p id="notice"><%= notice %></p>

<h1>Periods</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.number %></td>

        <% if can? :read, period %>
          <td><%= link_to 'Show', period %></td>
        <% end %>
        <% if can? :update, period %>
          <td><%= link_to 'Edit', edit_period_path(period) %></td>
        <% end %>
        <% if can? :destroy, period %>
          <td><%= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Period %>
  <%= link_to 'New Period', new_period_path %>
<% end %>