<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @period.number %>
</p>

<% if can? :update, @period %>
  <%= link_to 'Edit', edit_period_path(@period) %> |
<% end %>

<%= link_to 'Back', periods_path %>
