<h1>Adicionar Aluno na Turma</h1>


<%= form_with(model: @student_classroom, local: true) do |form| %>

    <%= form.label :classroom_id %>
    <%= form.text_field :classroom_id %>

    <br>

    <%= form.label :student_id %>
    <%= form.text_field :student_id %>


    <%= form.submit %>
<% end %>