<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>

        <% if can? :read, user %>
          <td><%= link_to 'Show', user %></td>
        <% end %>

        <% if can? :update, user %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end %>

        <% if can? :destroy, user %>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, User %>
  <%= link_to 'New User', new_user_path %>
<% end %>