<p id="notice"><%= notice %></p>

<%= "Nome: " + @user.name %>
<br>

<%= "Email: " + @user.email %>
<br>

<% if @user.photo.present? %>
    <%= image_tag (@user.photo.url) %>
<% end %>
<br>

<% if can? :update, @user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
