<h1>Adicionar Disciplina ao Curso</h1>


<%= form_with(model: @subject_course, local: true) do |form| %>

    <%= form.label :course_id %>
    <%= form.text_field :course_id %>

    <br>

    <%= form.label :subject_id %>
    <%= form.text_field :subject_id %>


    <%= form.submit %>
<% end %>