<h1>Página Inicial do Diretor</h1>

<h2>Departamentos</h2>
<% @departments.each do |department| %>
    <ul>
        <li><%= department.name %></li>
    </ul>
<% end %>
<p>Crie um departamento <%= link_to "clicando aqui", new_department_path %></p>
<p>------------------------------------------------------------------------</p>

<h2>Turmas</h2>
<% @classrooms.each do |classroom| %>
    <ul>
        <li><%= classroom.number %></li>
    </ul>
<% end %>
<p>Crie uma turma  <%= link_to "clicando aqui", new_classroom_path %></p>
<p>------------------------------------------------------------------------</p>

<% @subjects.each do |subject| %>
    <ul>
        <li><%= subject.name %></li>
    </ul>
<% end %>
<p>Crie uma  matéria <%= link_to "clicando aqui", new_subject_path %></p>
<p>------------------------------------------------------------------------</p>