<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Workload</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.workload %></td>
        <td><%= subject.department.name %></td>

        <% if can? :read, subject %>
        <td><%= link_to 'Show', subject %></td>
        <% end %>
        <% if can? :update, subject %>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <% end %>
        <% if can? :destroy, subject %>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Subject %>
  <%= link_to 'New Subject', new_subject_path %>
<% end %>