<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Workload:</strong>
  <%= @subject.workload %>
</p>

<p>
  <strong>Department:</strong>
  <%= @subject.department.name %>
</p>

<p>
  <strong>Cursos referentes a essa matéria:</strong>
  <ul>
    <% @subject.courses.each do |subject| %>
      <li><%= subject.name %></li>
    <% end %>
  </ul>
</p>

<% if can? :update, @subject %>
  <%= link_to 'Edit', edit_subject_path(@subject) %> |
<% end %>

<%= link_to 'Back', subjects_path %>
