<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>

  <div class="field">
    <%= form.label :classroom_id %>
    <%= form.select :classroom_id, @classrooms.collect { |classroom| [classroom.number, classroom.id] } %>
  </div>

<!--
  <div class="field">
    <%= form.fields_for :student_lessons do |student_lessons_field| %>
      <div>
        <% @students.each do |student| %>
          <%= student.name %>
          <%= student_lessons_field.hidden_field :student_id, value: student.id %>
          <%= student_lessons_field.check_box :presence %>
        <% end %>
      </div>
    <% end %>
  </div>
-->


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
