<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Duration</th>
      <th>Classroom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.time %></td>
        <td><%= lesson.duration %></td>
        <td><%= lesson.classroom.number %></td>

        <% if can? :read, lesson %>
          <td><%= link_to 'Show', lesson %></td>
        <% end %>
        <% if can? :update, lesson %>
          <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <% end %>
        <% if can? :destroy, lesson %>
          <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Lesson %>
  <%= link_to 'New Lesson', new_lesson_path %>
<% end %>