<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @lesson.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @lesson.duration %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @lesson.classroom.number %>
</p>

<p>
  <strong>Alunos Presentes:</strong>
  <ul>
    <% @lesson.students.each do |student| %>
      <li><%= student.name %></li>
    <% end %>
  </ul>
</p>

<% if can? :create, StudentLesson %>
  <%= link_to 'Fazer Chamada', new_student_lesson_path %>
<% end %>

<% if can? :update, @lesson %>
  <%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<% end %>

<%= link_to 'Back', lessons_path %>
