<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.department.name %></td>

        <% if can? :read, teacher %>
          <td><%= link_to 'Show', teacher %></td>
        <% end %>
        <% if can? :update, teacher %>
          <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <% end %>
        <% if can? :destroy, teacher %>
          <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Teacher %>
  <%= link_to 'New Teacher', new_teacher_path %>
<% end %>