<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @teacher.department.name %>
</p>

<p>
  <strong>ID do User:</strong>
  <%= @teacher.user_id %>
</p>

<% if can? :update, @teacher %>
  <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<% end %>

<%= link_to 'Back', teachers_path %>
