<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.department.name %></td>

        <% if can? :read, course %>
          <td><%= link_to 'Show', course %></td>
        <% end %>
        <% if can? :update, course %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <% end %>
        <% if can? :destroy, course %>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Course%>
  <%= link_to 'New Course', new_course_path %>
<% end %>