<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department.name %>
</p>

<p>
  <strong>Matérias referentes a esse curso: </strong>
  <ul>
    <% @course.subjects.each do |course| %>
      <li><%= course.name %></li>
    <% end %>
  </ul>
</p>

<% if can? :create, SubjectCourse %>
  <%= link_to "Adicionar Matéria ao Curso", new_subject_course_path %>
<% end %>

<% if can? :update, @course %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>

<%= link_to 'Back', courses_path %>
