<!DOCTYPE html>
<html>
  <head>
    <title>College</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !user_session %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    <% if user_session %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>

    <h2>Nav Bar</h2>
    <p>OBS: Faça o Login para poder navegar pelo sistema</p>
    <%= link_to "Cadastrar", new_user_registration_path%>
    <%= link_to "Logar", new_user_session_path %>
    <%= link_to "Index de Usuários", users_path %>
    <%= link_to "Turmas", classrooms_path %>
    <%= link_to "Cursos", courses_path %>
    <%= link_to "Departamentos", departments_path %>
    <%= link_to "Aulas", lessons_path %>
    <%= link_to "Periodos", periods_path %>
    <%= link_to "Alunos", students_path %>
    <%= link_to "Matérias", subjects_path %>
    <%= link_to "Professores", teachers_path %>



    <%= yield %>
  </body>
</html>
